{% extends "index.html" %}
{% block content %}
<article class="archive mdl-card mdl-cell mdl-cell--12-col">
    <div class="title mdl-color-text--grey-500">Archive</div>

    <div class="main">
        <br>
        {% for info in archive %}
        <strong>{{ info }}</strong>
        <ul>
            {% for article in archive[info] %}
            <li>{{ article.day }} &nbsp;<a href="/article/{{ article.id }}">{{ article.title }}</a></li>
            {% endfor %}
        </ul>
        {% endfor %}
    </div>
</article>
<script>
    document.title = "归档 - Wind.moe"
</script>
{% endblock %}