{% extends "index.html" %}
{% block content %}

<article class="mdl-card mdl-cell mdl-cell--12-col">
    {% if article['pic'] == '1' %}
    <section class="mdl-card__media"
             style="background: url('{{ article.pic_address }}') no-repeat;background-position-y:{{ article.axis_y }}%;">
        <p>{{ article.title }}</p>
    </section>
    {% else %}
    <header>
        <h1>{{ article.title }}</h1>
    </header>
    {% endif %}
    <section class="meta simple">
        <div class="info mdl-card__supporting-text mdl-color-text--grey-600">
            <div class="minilogo"></div>
            <div class="author">
                <strong>{{ article.author }}</strong>
                <div>
                    <span>{{ article.date }}</span>
                    <span><a href="/category/{{ article.category }}">{{ article.category }}</a></span>
                </div>
            </div>
        </div>
    </section>

    <section class="text">
        {{ article.html }}
    </section>

    <section class="comment">
        <div class="title">Comment</div>
        <div id="disqus_thread"></div>
    </section>
</article>
<script>
    document.title = "{{ article.title }} - Wind.moe"
</script>
{%- if math -%}
<script type="text/javascript" async
        src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({"tex2jax":{"inlineMath":[["$","$"],["\\(","\\)"]],"skipTags":["script","noscript","style","textarea","pre","code"],"processEscapes":true},"TeX":{"equationNumbers":{"autoNumber":"AMS"}}});
</script>
{% endif %}
{% endblock %}