{% extends "index.html" %}
{% block content %}
{% for article in articles %}

{% if article['pic'] == '0' %}
<article class="mdl-card mdl-cell mdl-cell--12-col">
    <header>
        <h1><a href="/article/{{ article.id }}">{{ article.title }}</a></h1>
    </header>

    <section class="text">
        {{ article.desc }}
    </section>

    <section class="meta">
        <div class="info mdl-card__supporting-text mdl-color-text--grey-600">
            <div class="minilogo"></div>
            <div class="author">
                <strong>{{ article.author }}</strong>
                <div>
                    <span>{{ article.date }}</span>
                    <span><a href="/category/{{ article.category }}">{{ article.category }}</a></span>
                </div>
            </div>
        </div>
        <div class="readmore mdl-color-text--grey-600">
							<span>
								<a href="/article/{{ article.id }}">继续阅读</a>
							</span>
        </div>
    </section>
</article>
{% else %}
<article class="mdl-card mdl-cell mdl-cell--12-col">

    <section class="mdl-card__media"
             style="background: url('{{ article.pic_address }}') no-repeat;background-position-y:{{ article.axis_y }}%;">
        <p><a href="/article/{{ article.id }}">{{ article.title }}</a></p>
    </section>

    <!--<header>-->
        <!--<h1><a href="/article/{{ article.id }}">{{ article.title }}</a></h1>-->
    <!--</header>-->

    <section class="text">
        {{ article.desc }}
    </section>

    <section class="meta">
        <div class="info mdl-card__supporting-text mdl-color-text--grey-600">
            <div class="minilogo"></div>
            <div class="author">
                <strong>{{ article.author }}</strong>
                <div>
                    <span>{{ article.date }}</span>
                    <span><a href="/category/{{ article.category }}">{{ article.category }}</a></span>
                </div>
            </div>
        </div>
        <div class="readmore mdl-color-text--grey-600">
							<span>
								<a href="/article/{{ article.id }}">继续阅读</a>
							</span>
        </div>
    </section>
</article>
{% endif %}
{% endfor %}

<!-- Component: Navigation -->
<nav class="material-nav mdl-cell mdl-cell--12-col">
    {% if page != 1 %}
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--icon">
        {% if category %}
        <a class="prev-page" href="/category/{{ category }}?page={{ page - 1 }}">
            {% else %}
            <a class="prev-page" href="/?page={{ page - 1 }}">
                {% endif %}
                <i class="material-icons">arrow_back</i>
            </a>
    </button>
    {% endif %}

    <span class="current">{{ page }}</span>

    {% if page != total and total != 1 %}
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--icon">
        {% if category %}
        <a class="next-page" href="/?page={{ page + 1 }}">
            {% else %}
            <a class="next-page" href="/?page={{ page + 1 }}">
                {% endif %}
                <i class="material-icons">arrow_forward</i>
            </a>
            {% endif %}
    </button>

</nav>

<script>
    var cate = {'essay': '随笔', 'daily': '日常', 'code': '代码', 'algorithm': '算法', 'acgn': 'ACGN', 'web': 'Web'};
    if (location.href.indexOf("category") > 0) {
        var nt = location.href.split("category/")[1].toLowerCase();
        document.title = cate[nt] + " - Wind.moe";
    }
</script>
{% endblock %}