{% extends "index.html" %}
{% block content %}

<div class="card-square mdl-card mdl-shadow--2dp">
    <p class="mdl-card__title">Welcome Login</p>
    <form method="POST" action="/auth/login" style="">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <label class="mdl-textfield__label" for="email">Email</label>
            <input class="mdl-textfield__input" id="email" type="email" name="email">
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <label class="mdl-textfield__label" for="password">Password</label>
            <input class="mdl-textfield__input" type="password" name="password" id="password">
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <label class="mdl-textfield__label" for="otp">One Time Password</label>
            <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" name="otp" id="otp">
        </div>
        <div>
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="remember">
                <input type="checkbox" id="remember" class="mdl-checkbox__input" name="remember">
                <span class="mdl-checkbox__label">Remember</span>
            </label>
        </div>

        <div class="mdl-card__actions mdl-card--border" style="padding:20px 0;border-top:0;">
            <button type="submit" class="mdl-button mdl-js-button mdl-button--primary">Login</button>
            <button class="mdl-button mdl-js-button" disabled style="float: right;">register</button>
        </div>
    </form>
</div>

<style>
    footer{
        margin-top: 400px;
    }
</style>
<script>
    document.title = "登录 - Wind.moe"
</script>
{% endblock %}