{% extends "base_index.html" %}
{% block content %}

<card class="card">
    <card-title class="title mdl-color-text--grey-500">{{ article.title }}</card-title>
    <card-date class="date">
        <i class="material-icons">event_note</i> {{ article.date }}
        <i class="material-icons">person_outline</i> {{ article.author }}
        <i class="material-icons">folder_open</i> <a href="/articles/Essay">{{ article.category }}</a> &nbsp;
        <i class="material-icons">label_outline</i> {{ article.tags }}
    </card-date>
    <hr>
    <article>
        {{ article.html }}
    </article>
</card>
<script>
    document.title = "{{ article.title }} - Wind.moe"
</script>
{%- if math -%}
<script type="text/javascript" async
        src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
{% endif %}

{% endblock %}

{% block disqus %}

<card class="card">
    <span style="margin:0 auto">点击加载评论</span>
    <div id="disqus_thread"></div>
    <script>
            /**
             * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
             * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
             */

            var disqus_config = function () {
                PAGE_URL = 'https://' + window.location.host + '{{ PAGE_IDENTIFIER }}';
                PAGE_IDENTIFIER = '{{ PAGE_IDENTIFIER }}';
                this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
                this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };

            function comment() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');

                s.src = '//windcore.disqus.com/embed.js';

                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);

                var t = d.createElement('script');

                t.src = '//windcore.disqus.com/count.js';

                t.setAttribute('id', "dsq-count-scr");
                (d.head || d.body).appendChild(t);
            }

    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments
        powered by Disqus.</a></noscript>

</card>
<!--<script id="dsq-count-scr" src="//windcore.disqus.com/count.js" async></script>-->

{% endblock %}