{% extends "public.html" %}
{% block content %}
<article class="archive mdl-card mdl-cell mdl-cell--12-col">
    <div class="title mdl-color-text--grey-500">Archive</div>

    <div class="main">
        <!--{% for info in archive %}-->
        <!--<strong>{{ info }}</strong>-->
        <!--<ul>-->
            <!--{% for article in archive[info] %}-->
            <!--<li>{{ article.day }} &nbsp;<a href="/article/{{ article.id }}">{{ article.title }}</a></li>-->
            <!--{% endfor %}-->
        <!--</ul>-->
        <!--{% endfor %}-->
        {% for year in archive %}
        <h4 class="archive-title">{{ year }}</h4>
            {% for month in archive[year] %}
            <div class="archive-posts {% if archive[year][month]['open'] %}open{% endif %}" data-month="{{ year }}{{ month }}">
                <h5 class="archive-month archive-title">
					<a href="javascript:void(0)" onclick="slide_archive('{{ year }}{{ month }}')" class="link-unstyled">{{ month }} - ({{archive[year][month]['length']}}篇文章)</a>
				</h5>
                <ul style="{% if archive[year][month]['open'] %}height:{{ archive[year][month]['length'] * 24 }}{% endif %}px">
                    {% for post in archive[year][month]['post'] %}
                    <li class="archive-post">
						<a href="/article/{{ post.id }}" class="archive-post-title">{{ post.title }}</a>
						<span class="archive-date">{{ post.date }}</span>
					</li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        {% endfor %}
    </div>
</article>
<script>
    document.title = "归档 > 稗田千秋"
</script>
{% endblock %}