<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta content="width=device-width,minimum-scale=1.0" name=viewport>
    <meta name=referrer content=always>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name=robots content="noindex, nofollow, noarchive">
    <title>发表评论</title>
    <link rel="stylesheet" href="/static/lime/css/material.min.css">
    <style>
        .comment-form {
            width: 100%;
        }

        .comment-form h5 {
            text-align: center;
        }

        .comment-form .flex-1 {
            flex: 1;
        }

        .comment-form ul {
            list-style: none;
            padding-right: 40px;
        }

        .comment-form .card li {
            display: flex;
            margin: 15px 0;
        }

    </style>
</head>

<body>
<main class="mdl-layout__content comment-form">
    <div class="card">
        <h5>发表评论</h5>
        <form onsubmit="return false">
            <ul>
                <li>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label flex-1">
                        <input class="mdl-textfield__input" type="text" id="name" required>
                        <label class="mdl-textfield__label" for="name">昵称</label>
                    </div>

                </li>

                <li>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label flex-1">
                        <input class="mdl-textfield__input" type="email" id="email" required>
                        <label class="mdl-textfield__label" for="email">邮箱</label>
                    </div>

                </li>

                <li>
                    <div class="mdl-textfield mdl-js-textfield flex-1">
                        <textarea class="mdl-textfield__input" type="text" rows="5" id="message" required></textarea>
                        <label class="mdl-textfield__label" for="message">内容</label>
                    </div>

                </li>
                <li>
                    <button class="mdl-button mdl-js-button mdl-button--raised flex-1" id="submit">
                        提交评论
                    </button>
                </li>
            </ul>
        </form>
    </div>
</main>

</body>
<script src="/static/lime/js/material.min.js"></script>
<script src="/static/lime/js/toolkit.min.js"></script>
<script>
    $('#submit').addEventListener('click', function () {
        fetch('{{host}}', {
            method: "post",
            mode: 'cors',
            headers: {
                "Content-type": "application/x-www-form-urlencoded"
            },
            body: location.search.substr(1) + '&name=' + $('#name').value + '&email=' + $('#email').value
            + '&message=' + $('#message').value
        }).then(function (res) {

            if (res.ok) {
                return res.json().then(function (json) {
                    window.close();
                });
            } else {
                alert("评论服务器炸啦~\nstatus:", res.status);
                window.close();
            }
        }).catch(function (e) {
            alert("评论服务器炸啦~");
            window.close();
        });
    })
</script>
</html>
