{% extends "public.html" %}
{% block content %}
<article class="mdl-card mdl-cell mdl-cell--12-col" style="padding:20px 0 0;">

    <section class="notes">
        <div class="date">
              <span class="sep">
                Guest <br> Book
              </span>
        </div>
        <section class="mood">
            <p>这里暂且当作留言本，有什么想说的就在这里或者about页面说明吧～</p>
        </section>
    </section>

    {% for note in notes %}
    <section class="notes">
        <div class="date">
              <span>
                {{ note.date }}
              </span>
        </div>
        <section class="mood">
            {{ note.text }}
        </section>
    </section>
    {% endfor %}

    <section class="comment">
        <div class="title">Comment</div>
        <div id="disqus_thread">尝试加载Disqus评论, 失败则会使用基础模式.</div>
        <ul class="comment-posts"></ul>
    </section>
    </section>

</article>
<style>
    .notes {
        margin: 0 50px 0px 100px;
        padding: 0 0 25px 12px;
        border: 0;
        border-left: 3px solid #dddddd;
    }

    .notes .date {
        position: relative;
        left: -100px;
        font-size: 14px;
        top: 24px;
        color: #757575 !important;
    }

    .notes .date span {
        position: absolute;
        left: 15px;
    }

    .notes .date .sep {
        font-size: 24px;
        left: 8px;
        text-align: center;
    }

    .mood {
        padding: 0 0 0 15px;
    }

    .mood:before {
        content: "";
        position: relative;
        left: -39px;
        top: 24px;
        display: block;
        width: 14px;
        height: 14px;
        border: 3px solid #d2d3d2;
        -webkit-border-radius: 14px;
        -moz-border-radius: 14px;
        -ms-border-radius: 14px;
        border-radius: 14px;
        background: #f9f9f9;
    }
</style>

<script>
    document.title = "留言板 - Wind.moe"
</script>
{% endblock %}
