{% extends "public.html" %}
{% block content %}
<article class="mdl-card mdl-cell mdl-cell--12-col">
    <ul class="links">
        <li class="links-title">
            <div class="title mdl-color-text--grey-500">
                Friends Links
            </div>
        </li>
        {% for friend in friends %}
        <li>
            <img src="{{ friend.avatar }}">
            <a href="{{ friend.url }}" target="_blank">
                <p id="{{ friend.id }}" class="nickname">{{ friend.name }}</p>
                <p>{{ friend.desc }}</p>
            </a>
            <div class="mdl-tooltip" for="{{ friend.id }}">
                {{ friend.url }}
            </div>
        </li>
        {% endfor %}
    </ul>

    <div class="descrption" style="padding:20px 40px;">
        <h6>0x00 关于友链</h6>
        <p>
            当访问他人博客的时候,总会习惯性的先点开 '关于' & '链接' 这两个页面,一方面能稍微了解一下博主,
            另一方面从链接里也能略感受到对方的圈子,也算是第一印象吧. <br>
            所以我一直想拥有一个属于自己的友情链接,在我搭建了博客后终于实现了这个想法. <br>
            在我看来,友链仿若 std::list&#60;Friend&#62; Links,将怀着写作分享心愿的人们连接起来,
            互相传递彼此的想法与友情. <br>
        </p>
        <h6>0x01 几点要求</h6>
        <ul class="link-claim">
            <li>希望我们能先认识一下(´・ω・`)</li>
            <li>全站启用 <b> HTTPS </b>访问 or 支持<b>HTTP/2</b>.</li>
            <li>接受CS/ACG向链接,且优先度依次递减.</li>
            <li>篇文章/季度以上的速度更新</li>
            <li>最好能拥有RSS源,方便订阅</li>
            <li>通过<a href="https://goo.gl/forms/4dlJdAuQNiWOUgwZ2">友链申请</a>页面 or <a href="mailto:i@wind.moe">邮件</a>交流添加</li>
        </ul>
        <h6>0x02 小站信息</h6>
        <blockquote style="font-style: normal;">
            <p>
                名称: {{ blog.name }}<br> 地址: {{ blog.link }}<br> 描述: {{ blog.desc }} or 或您对我的评价
            </p>
        </blockquote>
        <h6>0x03 其他</h6>
        <p>
            链接可能会在 无法访问/长期断更/不符上述要求 等不可描述的原因下暂时移除. <br>
            我也会控制友链在一个合理,美观的数量上,毕竟链接太多的话就很难用心维护了. <br>
            最后,希望我的友情链接上能看到你的身影:)
        </p>
    </div>
    <style>
    </style>
    <section class="comment">
        <div class="title">Comment</div>
        <div id="disqus_thread">尝试加载Disqus评论, 失败则会使用基础模式.</div>
        <ul class="comment-posts"></ul>
    </section>
</article>
<script>
    document.title = "邻舍 - Wind.moe"
</script>
{% endblock %}