<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Touch your U2F token to authenticate.</p>
<form method="POST" action="/auth/bind" id="form">
    <input type="hidden" name="tokenResponse" id="tokenResponse"/>
    <input type="hidden" name="username" id="username"/>
    <input type="text" name="deviceName" id="deviceName" value=""/>
</form>
</body>
<script src="/static/lime/js/u2f-api.min.js"></script>
<script>


    setTimeout(function() {
        var request = {{ request }};
        console.log("Register: ", request);
        var appId = request.appId;
        var registerRequests = request.registerRequests;
        console.log(appId, registerRequests);
        u2f.register(appId, registerRequests, [],
            function (deviceResponse) {
            console.log("Register callback", deviceResponse);
                document.getElementById('tokenResponse').value = JSON.stringify(deviceResponse)
                document.getElementById('form').submit()
            }
        );
    },1000);

</script>
</html>
