{% extends "backend.html" %}
{% block content %}
<div class="card">
    <table class="mdl-data-table mdl-js-data-table ">
        <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric th-center">标题</th>
            <th class="th-center">创建日期</th>
            <th class="th-center">分类</th>
            <th class="th-center">公开</th>
            <th class="th-center">编辑</th>
        </tr>
        </thead>

        <tbody>
        {% for article in articles %}
        <tr>
            <td class="mdl-data-table__cell--non-numeric">{{ article.title }}</td>
            <td>{{ article.date }}</td>
            <td>{{ article.category }}</td>
            <td>
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-2">
                    <input type="checkbox" id="checkbox-2" class="mdl-checkbox__input"
                    {% if article.open == 'on'%}
                        checked
                           {% endif %}
                    >
                </label>
            </td>
            <td><a href="/manage/article/{{ article.id}}/edit">编辑</a></td>
        </tr>
        {% endfor %}
        </tbody>


    </table>
</div>
<style>
    .th-center {
        text-align: center!important;
    }
</style>
{% endblock %}