{% extends "backend.html" %}
{% block content %}

{% import 'utils/form.html' as forms %}

<div class="card">
    <h4>Guest Book</h4>
    <hr/>
    <form method="POST" action="/manage/guest-book" accept-charset="UTF-8">

        <div class="form-group mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <label for="id" class="mdl-textfield__label">ORDER</label>
            <input class="form-control mdl-textfield__input" name="id" type="text" id="id" value="{{ len }}">
        </div>

        <div class="form-group" style="margin-top:20px;">
            <textarea id="MyID" name="text"></textarea>
        </div>

        <div class="form-group" style="margin-top: 20px;">
            <input class="btn btn-primary form-control  mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                   type="submit" value="Add Article">
        </div>


    </form>

</div>
<link rel="stylesheet" href="/static/lime/css/simplemde.min.css">
<script src="/static/lime/js/simplemde.min.js"></script>
<style>
  .editor-preview-active {
    overflow: hidden;
  }
</style>
{{ forms.simplemde_conf() }}
{% endblock %}