{% extends "backend.html" %}
{% block content %}
<div class="card">
    <!--<ul class="link-ul">-->
        <!--{% for friend in friends %}-->
        <!--<li data-name="{{ friend.name }}" data-url="{{ friend.url }}" data-avatar="{{ friend.avatar }}"-->
            <!--data-desc="{{ friend.desc }}" data-hide="{{ friend.hide }}">-->
            <!--<img src="{{ friend.avatar }}" alt="" class="avatar">-->
            <!--<div class="link-name">-->
                <!--{{ friend.name }}-->
            <!--</div>-->
            <!-- - -->
            <!--<div class="link-url">-->
                <!--{{ friend.url }}-->
            <!--</div>-->
            <!-- - -->
            <!--<div class="link-desc">-->
                <!--{{ friend.desc }}-->
            <!--</div>-->
            <!-- - -->
            <!--<div class="link-desc">-->
                <!--<a href="javascript:void(0);" onclick="link_dialog({{ loop.index0 }})"> Edit </a>-->
            <!--</div>-->
        <!--</li>-->
        <!--{% endfor %}-->
    <!--</ul>-->


    <table class="mdl-data-table mdl-js-data-table ">

        <thead>
        <tr>
            <th>头像</th>
            <th class="mdl-data-table__cell--non-numeric">昵称</th>
            <th>地址</th>
            <th>介绍</th>
            <th>隐藏</th>
            <th>编辑</th>
        </tr>
        </thead>

        <tbody class="link-tb">
        {% for friend in friends %}
        <tr data-name="{{ friend.name }}" data-url="{{ friend.url }}" data-avatar="{{ friend.avatar }}"
            data-desc="{{ friend.desc }}" data-hide="{{ friend.hide }}">
            <td>
                <img src="{{ friend.avatar }}" alt="" class="avatar">
            </td>
            <td class="mdl-data-table__cell--non-numeric">{{ friend.name }}</td>
            <td>{{ friend.url }}</td>
            <td>{{ friend.desc }}</td>
            <td>
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-2">
                    <input type="checkbox" id="checkbox-2" class="mdl-checkbox__input"
                    {% if friend.hide == 'true'%}
                        checked
                    {% endif %}
                    >
                </label>
            </td>
            <td><a href="javascript:void(0);" onclick="link_dialog({{ loop.index0 }})"> 修改 </a></td>
        </tr>
        {% endfor %}
        </tbody>

    </table>


    <button class="mdl-button mdl-js-button mdl-button--raised" id="show-dialog">
        新增链接
    </button>
</div>
<style>
    th {
        text-align: center!important;
    }
    .link-ul {
        list-style: none;
    }

    .link-ul li {
        margin-top: 10px;
    }

    .link-ul .avatar {
        width: 36px;
        height: 36px;
        border-radius: 24px;
    }

    .link-name,
    .link-url,
    .link-desc {
        margin: 20px 10px;
        display: inline;
    }
</style>

<dialog class="mdl-dialog" style="width:600px;">
    <h4 class="mdl-dialog__title">增加友链</h4>
    <div class="mdl-dialog__content">
        <input class="mdl-textfield__input" type="hidden" id="_id">

        <div class="mdl-textfield mdl-js-textfield" style="width: 190px;margin-right: 10px;">
            <input class="mdl-textfield__input" type="text" id="name">
            <label class="mdl-textfield__label" for="name">Name</label>
        </div>

        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="url">
            <label class="mdl-textfield__label" for="url">url</label>
        </div>

        <img src="" alt="" id="preview" style="width:48px;height:48px;margin-top:-20px;">
        <div class="mdl-textfield mdl-js-textfield" style="width:385px;">
            <input class="mdl-textfield__input" type="text" id="avatar">
            <label class="mdl-textfield__label" for="avatar">avatar</label>
        </div>

        <div class="mdl-textfield mdl-js-textfield" style="width:50px;margin-left: 10px;">
            <input class="mdl-textfield__input" type="text" id="order">
            <label class="mdl-textfield__label" for="order">order</label>
        </div>

        <div class="mdl-textfield mdl-js-textfield" style="width: 500px;">
            <input class="mdl-textfield__input" type="text" id="desc">
            <label class="mdl-textfield__label" for="desc">desc</label>
        </div>

        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="hide">
            <input type="checkbox" id="hide" name="hide" class="mdl-checkbox__input">
            <span class="mdl-checkbox__label">Hide</span>
        </label>


    </div>
    <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button submit" data-method="POST" id="link-submmit">Roger That</button>
        <button type="button" class="mdl-button close">Close</button>
    </div>
</dialog>
<style>
    .mdl-dialog {
        opacity: 0.8;
    }
</style>
<script>

    $('#avatar').addEventListener('change', function () {
        $('#preview').src = $('#avatar').value;
    })

    var dialog = document.querySelector('dialog');
    var newDialogButton = document.querySelector('#show-dialog');

    if (!dialog.showModal) {
        dialogPolyfill.registerDialog(dialog);
    }

    newDialogButton.addEventListener('click', function () {
        $('#order').value = $.all('.link-tb tr').length + 1;
        $('#name').value = '';
        $('#url').value = '';
        $('#avatar').value = '';
        $('#desc').value = '';
        $('#hide').setAttribute('checked', '');
        $('#_id').value = 0;
        $('#link-submmit').dataset.method = 'POST';
        dialog.showModal();
    });

    function link_dialog(idx) {
        componentHandler.upgradeDom();
        var data = $.all('.link-tb tr')[idx].dataset;
        $('#name').value = data.name;
        $('#url').value = data.url;
        $('#avatar').value = data.avatar;
        $('#preview').src = data.avatar;
        $('#order').value = idx + 1;
        $('#desc').value = data.desc;
        $('#_id').value = idx + 1;
        if (data.hide == 'true')
            $('#hide').setAttribute('checked', 'checked');
        $('#link-submmit').dataset.method = 'PUT';
        dialog.showModal();
    }

    dialog.querySelector('.close').addEventListener('click', function () {
        dialog.close();
    });

    dialog.querySelector('.submit').addEventListener('click', function () {
        fetch('/manage/links', {
            credentials: 'include',
            method: $('#link-submmit').dataset.method,
            mode: 'cors',
            headers: {
                "Content-type": "application/x-www-form-urlencoded"
            },
            body: 'name=' + $('#name').value + '&url=' + $('#url').value + '&avatar=' + $('#avatar').value
            + '&order=' + $('#order').value + '&desc=' + $('#desc').value + '&hide=' + $('#hide').checked
            + '&_id=' + $('#_id').value
        }).then(function (res) {
            if (res.ok) {
                return res.json().then(function (json) {
                    dialog.close();
                });
            } else {
                alert("服务器错误.\nstatus:", res.status);
                dialog.close();
            }
        }).catch(function (e) {
            alert("服务器错误.");
            dialog.close();
        });
    });
</script>

{% endblock %}