{% macro input(name, label='', type='text', value='', required='', style='', div_id='') -%}
<div class="form-group mdl-textfield mdl-js-textfield mdl-textfield--floating-label" id="{{ div_id }}"
     style="{{ style }}">
    <label for="{{ name }}" class="mdl-textfield__label">{{ label }}</label>
    <input class="form-control mdl-textfield__input" name="{{ name }}" type="{{ type }}" id="{{ name }}"
           value="{{ value }}" {{ required }}>
</div>
{%- endmacro %}

{% macro checkbox(name, label='', value='no', update=false, pic=false) -%}
<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="{{ name }}">
    <!-- Aiohttp 取相同namde的checkbox第一个值，反选的话不发送所以发送的是hidden的值 -->
    <input type="checkbox" name="{{ name }}" id="{{ name }}" class="mdl-checkbox__input">
    <input type="hidden" name="{{ name }}" value="{{ value }}">
    <span class="mdl-checkbox__label">{{ label }}</span>
</label>
{% if update %}
<script>
    ~function () {
        if ('{{ update }}' == 'on') {
            document.querySelector('#{{ name }}').setAttribute('checked', 'checked');
        }
    }();
</script>
{% endif %}
{% if pic %}
<script>
    ~function () {
        document.querySelector('#pic').addEventListener('change', function () {
            if (this.checked) {
                document.querySelector("#p_address").setAttribute("style", "display:inline-block;");
                document.querySelector("#p_axis").setAttribute("style", "display:inline-block;");
            } else {
                document.querySelector("#p_address").setAttribute("style", "display:none;");
                document.querySelector("#p_axis").setAttribute("style", "display:none;");
            }

        })
    }();
</script>
{% endif %}
{%- endmacro %}

{% macro select(name, options=[], style='', update=false) -%}
<div class="form-group" style="{{ style }}">
    <label for="{{ name }}" class="mdl-textfield__label select"
           style="color:#3f51b5;font-size:12px;top:-6px;visibility:visible;">Category</label>
    <select name="{{ name }}" id="{{ name }}">
        {% for opt in options %}
        <option value="{{ opt | lower }}">{{ opt }}</option>
        {% endfor %}
    </select>
</div>
{% if update %}
<script>
    ~function () {
        document.querySelector('#{{ name }}').value = '{{ update }}'
    }()
</script>
{% endif %}
{%- endmacro %}

{% macro textarea(name, id='',label='', div_id='') -%}
<div id="{{ div_id }}" class="form-group">
    <label for="{{ id }}">{{ label }}</label>
    <textarea id="{{ id }}" name="{{ name }}"></textarea>
</div>
{%- endmacro %}

{% macro submit(value='Add Article', style='') -%}
<div class="form-group" style="{{ style }}">
    <input class="btn btn-primary form-control  mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
           type="submit" value="{{ value }}">
</div>
{%- endmacro %}

{% macro simplemde_conf(article=false) -%}
<script>
    var simplemde = new SimpleMDE({
        autofocus: true,
        element: document.getElementById("MyID"),
        autosave: {
            enabled: true,
            uniqueId: "article_"+ Date.parse(new Date()),
            delay: 1000,
        },
        hideIcons: ["side-by-side", "fullscreen"],
        showIcons: ["code", "table"],
        toolbar: [{
            name: "bold",
            action: SimpleMDE.toggleBold,
            className: "fa fa-bold",
            title: "Bold",
        }, {
            name: "italic",
            action: SimpleMDE.toggleItalic,
            className: "fa fa-italic",
            title: "Italic",
        }, {
            name: "strikethrough",
            action: SimpleMDE.toggleStrikethrough,
            className: "fa fa-strikethrough",
            title: "Strikethrough",
        },
            "|", {
                name: "code",
                action: SimpleMDE.toggleCodeBlock,
                className: "fa fa-code",
                title: "Code",
            }, {
                name: "quote",
                action: SimpleMDE.toggleBlockquote,
                className: "fa fa-quote-left",
                title: "Quote",
            }, {
                name: "unordered-list",
                action: SimpleMDE.toggleUnorderedList,
                className: "fa fa-list-ul",
                title: "Generic List",
            }, {
                name: "ordered-list",
                action: SimpleMDE.toggleOrderedList,
                className: "fa fa-list-ol",
                title: "Numbered List",
            },
            "|", {
                name: "link",
                action: SimpleMDE.drawLink,
                className: "fa fa-link",
                title: "Create Link",
            }, {
                name: "image",
                action: SimpleMDE.drawImage,
                className: "fa fa-picture-o",
                title: "Insert Image",
            }, {
                name: "table",
                action: SimpleMDE.drawTable,
                className: "fa fa-table",
                title: "Insert Table",
            }, {
                name: "horizontal-rule",
                action: SimpleMDE.drawHorizontalRule,
                className: "fa fa-minus",
                title: "Insert Horizontal Line",
            },
            "|", {
                name: "preview",
                action: SimpleMDE.togglePreview,
                className: "fa fa-eye no-disable",
                title: "Toggle Preview",
            },
            "|", {
                name: "guide",
                action: function customFunction(editor) {
                    window.open("https://simplemde.com/markdown-guide", "_blank");
                },
                className: "fa fa-question-circle",
                title: "Markdown Guide",
            },
            "|", // Separator
        ],

    });

    {% if article %}
         simplemde.value("{{ article.text }}");
    {% endif %}
</script>
{%- endmacro %}