aiohttp==1.0.2
aiohttp-auth==0.1.1
aiohttp-debugtoolbar==0.1.2
aiohttp-jinja2==0.8.0
aiohttp-session==0.7.0
aioredis==0.2.8
argh==0.26.2
async-timeout==1.0.0
cffi==1.8.3
chardet==2.3.0
cryptography==1.5.2
hiredis==0.2.0
httptools==0.0.9
idna==2.1
Jinja2==2.8
MarkupSafe==0.23
misaka==2.0.0
multidict==2.1.1
pathtools==0.1.2
py==1.4.31
pyasn1==0.1.9
pycparser==2.14
pytest==3.0.3
PyYAML==3.12
requests==2.11.1
six==1.10.0
ticket-auth==0.1.4
uvloop==0.5.3
watchdog==0.8.3
psutil==4.3.1