{% extends "base_backend.html" %}
{% block content %}

<style>
    .link-ul {
         list-style: none;
    }

    .link-ul li {
        margin-top: 10px;
    }

    .link-ul .avatar {
        width: 36px;
        height: 36px;
        border-radius: 24px;
    }

    .link-name,
    .link-url,
    .link-desc {
         margin: 20px 10px;
         display: inline;
    }

</style>

<div class="card">
    <ul class="link-ul">
        {% for friend in friends %}
        <li>
            <img src="{{ friend.avatar }}" alt="" class="avatar">
            <div class="link-name">
                {{ friend.name }}
            </div>
            -
            <div class="link-url">
                {{ friend.url }}
            </div>
            -
            <div class="link-desc">
                {{ friend.desc }}
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="card">

    <form method="POST" action="/manage/links" accept-charset="UTF-8">

        <div class="form-group mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <label for="name" class="mdl-textfield__label">Name</label>
            <input class="form-control mdl-textfield__input" name="name" type="text" id="name">
        </div>

        <div class="form-group mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <label for="url" class="mdl-textfield__label">URL</label>
            <input class="form-control mdl-textfield__input" name="url" type="text" id="url">
        </div>

        <div class="form-group mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:500px">
            <img src="" alt="" class="avatar" style="width:48px;height:48px;">
            <label for="avatar" class="mdl-textfield__label">Avatar</label>
            <input class="form-control mdl-textfield__input" name="avatar" type="text" id="avatar">
        </div>


        <div class="form-group mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:100%">
            <label for="desc" class="mdl-textfield__label">Description</label>
            <input class="form-control mdl-textfield__input" name="desc" type="text" id="desc">
        </div>

        <div class="form-group" style="margin-top: 20px;">
            <input class="btn btn-primary form-control  mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                   type="submit" value="Add Links">
        </div>

    </form>

</div>

{% endblock %}