{% extends "base_index.html" %}
{% block content %}
<card class="card">
    <card-title class="title mdl-color-text--grey-500">About</card-title>
    <hr>
    <input id="word_count" type="hidden" value="{{ word_count }}">
    <article>
        {{ profile.html }}
    </article>
</card>
<script>
    document.title = "关于 - Wind.moe"
</script>
{% endblock %}

{% block disqus %}
<card class="card">
    <div style="font-family:Monaco">Comment</div>
    <div id="disqus_thread"></div>
    <script>
        var display = false;
        var disqus_config = function () {
            PAGE_URL = 'https://' + window.location.host + '{{ PAGE_IDENTIFIER }}';
            PAGE_IDENTIFIER = '{{ PAGE_IDENTIFIER }}';
            this.page.url = PAGE_URL;
            this.page.identifier = PAGE_IDENTIFIER;
        }
        function comment() {
            if (display == true)
                return;
            var d = document, s = d.createElement('script');
            s.src = '//windcore.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            display = true;
        }
    </script>
</card>
{% endblock %}