{% extends "base_index.html" %}
{% block content %}
<card class="card">
    <card-title class="title mdl-color-text--grey-500">About</card-title>
    <card-date class="date">
        {{ profile.name }} - {{ profile.updated_date }}
    </card-date>
    <hr>
    <article>
        {{ profile.html }}
        服务器已存活<span id="days"></span> && 小站已记录了 {{ word_count }} 字
    </article>
</card>
<script>function change_time(){window.setTimeout("change_time()",1e3),B=new Date("12-05-2014 17:08:58"),T=new Date,timeold=T.getTime()-B.getTime(),sectimeold=timeold/1e3,secondsold=Math.floor(sectimeold),msPerDay=864e5,e_daysold=timeold/msPerDay,daysold=Math.floor(e_daysold),e_hrsold=-24*(daysold-e_daysold),hrsold=Math.floor(e_hrsold),e_minsold=-60*(hrsold-e_hrsold),minsold=Math.floor(-60*(hrsold-e_hrsold)),seconds=Math.floor(-60*(minsold-e_minsold));var e=document.getElementById("days");e.innerHTML=daysold+"&nbsp;天&nbsp;"+hrsold+"&nbsp;小时&nbsp;"+minsold+"&nbsp;分钟&nbsp;"+seconds+"&nbsp;秒"}change_time();</script>
<script>
    document.title = "关于 - Wind.moe"
</script>
{% endblock %}

{% block disqus %}
<card class="card">
    <div id="disqus_thread"></div>
    <script>
            /**
             * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
             * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
             */

            var disqus_config = function () {
                PAGE_URL = 'https://' + window.location.host +'{{ PAGE_IDENTIFIER }}';
                PAGE_IDENTIFIER = '{{ PAGE_IDENTIFIER }}';
                this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
                this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };

            (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');

                s.src = '//windcore.disqus.com/embed.js';

                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();


    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments
        powered by Disqus.</a></noscript>

</card>
<script id="dsq-count-scr" src="//windcore.disqus.com/count.js" async></script>
{% endblock %}