{% extends "base_index.html" %}
{% block link %}
<script>
    var _p = document.querySelector('.container')
    var _e = document.querySelector('#card-content')
    _p.removeChild(_e)
</script>
<card-content class="card card-content mdl-cell mdl-cell--8-col" style="padding:0">

    <div style="width:100%">
        <ul class="links">
            <li style="clear: both;float: none;width:100%;margin:0 0 0 -10px;">
                <div class="title mdl-color-text--grey-500" style="padding-top:20px;">
                    Friends Links
                </div>
                <hr>
            </li>
            {% for friend in friends %}
            <li>
                <img src="{{ friend.avatar }}">
                <a href="{{ friend.url }}" target="_blank">
                    <p id="chiaki" class="nickname">{{ friend.name }}</p>
                    <p>{{ friend.desc }}</p>
                </a>
                <div class="mdl-tooltip" for="chiaki">
                    {{ friend.url }}
                </div>
            </li>
            {% endfor %}
        </ul>

    </div>
</card-content>
<script>
    document.title = "邻舍 - Wind.moe"
</script>
<!-- 需要评论框-->
{% endblock %}

{% block disqus %}
<card class="card">
    <div id="disqus_thread"></div>
    <script>
            /**
             * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
             * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
             */

            var disqus_config = function () {
                PAGE_URL = 'https://wind.moe'+'{{ PAGE_IDENTIFIER }}';
                PAGE_IDENTIFIER = '{{ PAGE_IDENTIFIER }}';
                this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
                this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };

            (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');

                s.src = '//windcore.disqus.com/embed.js';

                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();


    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments
        powered by Disqus.</a></noscript>

</card>
<script id="dsq-count-scr" src="//windcore.disqus.com/count.js" async></script>
{% endblock %}